<div class="wrapper">
  <h1 class="center">Edit My Profile</h1>

  <%= image_tag @profile.avatar.url(:thumbnail), class: 'as--profile-avatar center' %>
  <div>
    <%= render 'form' %>
  </div>


</div>




