<div class="wrapper">

  <h1>Admin#panel</h1>

  <ul class="tabs">
    <li class="tab-link current" data-tab="lessons-tab">Lessons</li>
    <li class="tab-link" data-tab="users-tab">Users</li>
    <li class="tab-link" data-tab="mailing-tab">Mailing List</li>
  </ul>

  <div id="lessons-tab" class="tab-content current">
    <h2>Lessons</h2>
    <%= form_tag(admin_path, method: :get, remote: true) do %>
      <%= select_tag :search, options_for_select([ "all","approved", "unapproved" ], "all"), include_blank: true, class: "lesson_filter" %>
    <% end %>
    <div id="lessons-admin">
      <%= render 'lessons_admin' %>
    </div>

  </div>

  <div id="users-tab" class="tab-content">
    <h2>Users</h2>

    <ul>
      <% @users.find_each do |user| %>
      <li><%= user.first_name %></li>
      <% end %>
    </ul>
  </div>

  <div id="mailing-tab" class="tab-content">
    <h2>Mailing List</h2>
    <ul>
      <% %>
      <li></li>
    </ul>
  </div>
</div>


<script>
  $(document).ready(function(){

      $('.lesson_approved_check').change(function(){
        lesson = $(this).attr('data')
        approved = $(this)[0].checked
        console.log(lesson)
        console.log(approved)
        $.ajax({
          url: '',
          type: 'get',
          data: {
            lesson: lesson,
            approved: approved
          }
        })
      });

      $('.lesson_filter').on('change', function(){
        filter = $(this).val()
        $.ajax({
          url: '',
          type: 'get',
          data: {
            filter: filter
          }
        })
      });

    $('ul.tabs li').click(function(){
      var tab_id = $(this).attr('data-tab');

      $('ul.tabs li').removeClass('current');
      $('.tab-content').removeClass('current');

      $(this).addClass('current');
      $("#"+tab_id).addClass('current');
    })

  })
</script>