<div class="wrapper wrapper--secondary">
  <h2 class="font-quicksand center">About Code:Clubs</h2>
  <p class="center">Code:clubs is designed by Ladies Learning Code and proudly supported by Scotiabank for educators focused on inspiring kids to be builders – not just consumers - of technology through coding activities and challenges. It’s all about using technology and changing the world through teamwork, creativity, and, of course, code.</p>
  <p class="center">Whether you’re a teacher in a classroom, a program coordinator at a community centre, a home-schooling parent or a Girl Guide troop leader - we’ve put together a comprehensive how-to guide and lesson planning tool to help you teach kids to code. </p>
  <div class="wrapper--flex">
    <div class="col--two">
      <h2 class="font-quicksand">Download the Guide</h2>
      <p>We’ve combined our experiences teaching thousands of youth across the country to code, our tips and tricks to get started, resources to familiarize yourself with code, plus lots of easy to follow and even easier to implement coding activities to empower and teach the future generation of technologists across Canada.</p>
      <p>This guide is your jumping off point - where you choose to take your program is up to you!</p>
      <p>We encourage you to use as much or as little of the guide as you like, to remix the challenges we’ve created or create new ones and share them with our community.</p>
      <a href="#" class="button button--tertiary">Download the guide here</a>
    </div>
    <div class="col--two">
      <h2 class="font-quicksand">Request a Training</h2>
      <p>Our training workshops across the country are led by industry leading experts and educators from our community. We’ll delve into our code:clubs guide and lesson plans while teaching educators how to use Scratch - a popular program to teach kids to code, how to map coding to the curriculum and how to introduce coding to your students!</p>
      <a href="http://ladieslearningcode.com/" class="button button--tertiary" target="_blank">View upcoming workshops or request one near you here</a>
    </div>
    <div>
      <h2 class="font-quicksand">Join the Code:Clubs Forum</h2>
      <p>Ladies Learning Code was built for the community by the community and it has made all of the difference for our learners’ success.  Join our code:clubs community forum, a Slack Team, to connect with other educators across the country, share resources and ask questions to our talented and generous community of developers and technical educators coast to coast. </p>
    </div>
  </div>
  
  
  
 
</div>
