var modal = `<div class="modal-fixed"><span class="modal-close">✖</span><h3>Thank You</h3><p>Your lesosn is now pending approval</p><p>Our administrators have been notified of your new lesson and will either publish it for public distribution or contact you regarding modifications to ensure it is up to industry standards.</p><p>In the meantime, you can view your newly created lesson here, or view all your created lessons.</p></div>`
$('.submit-button').remove()
$('.save-as-draft').remove()
$('.delete-lesson').remove()
$('body').append(modal)
$('.modal-close').on('click', function(){
	$(this).parent('.modal-fixed').remove()
})
