<div class="wrapper">
  <h1>Editing Lesson</h1>

  <% if @lesson.feature_image.present? %>
    <%= image_tag @lesson.feature_image.url(:medium)%>
  <% end %>

  <%= render 'form' %>

  <%= link_to 'Show', @lesson %> |
  <%= link_to 'Back', lessons_path %>
</div>

<script>
$( document ).ready(function() {
    console.log( "ready!" );
    $('.wrapper').bind("DOMNodeInserted", function(){
      $(this).find('.btn').addClass('button button--primary').removeClass('btn btn-default btn-primary')
    });
});

</script>