<div class="wrapper form--new-lesson">

	<!-- Set user's language based on param -->
  <% lang = session[:locale].to_s %>

  <%= render 'form', lang: lang %>

</div>

<script>
$( document ).ready(function() {
    console.log( "ready!" );
    $('.wrapper').bind("DOMNodeInserted", function(){
      $(this).find('.btn').addClass('bootsy-controls').removeClass('btn btn-default btn-primary')

    });
   
});

</script>
