<h1>Editing Lesson</h1>

<div class="wrapper">
  <%= render 'form' %>

</div>


<%= link_to 'Show', @lesson %> |
<%= link_to 'Back', lessons_path %>

<script>
$( document ).ready(function() {
    console.log( "ready!" );
    $('.wrapper').bind("DOMNodeInserted", function(){
      $(this).find('.btn').addClass('button button--primary').removeClass('btn btn-default btn-primary')
    });
});

</script>