<div class="wrapper form--new-lesson">

	<!-- Set user's language based on param -->
  <% lang = session[:locale].to_s %>

  <%= render 'form', lang: lang %>

</div>

<script>
$( document ).ready(function() {
    console.log( "ready!" );
    $('.wrapper').bind("DOMNodeInserted", function(){
      $(this).find('.btn').addClass('bootsy--buttons').removeClass('btn btn-default btn-primary')
    });
});

function imageModalDesc(){

	var modalTitle = $('.modal-header')
	var imageModal = modalTitle.each(function(i, obj){
		var title = $(obj).find('.modal-title')
		title = title[0]
		title = $(title).html()
		title == 'Images' ? $(obj).append('<p>select a photo to upload. Once it is in the gallery click on the photo and select the size and position. You can also insert a link to a photo somewhere else online and hit go.</p>') : null
		title == 'FR Images' ? $(obj).append('<p>Sélectionnez une photo à téléverser. Quand celle-ci se retrouvera dans la bibliothèque, cliquez sur la photo et sélectionnez sa taille et sa position. Vous pouvez aussi insérer un lien vers une photo en ligne et poursuivre. </p>') : null
	})
}
imageModalDesc();

</script>
