// Place all the styles related to the Admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//DO NOT GET RID OF THIS YET

.browse--wrap{
  background: #666 url('bw-bg.png') no-repeat;
  background-size: cover;
}

.as--about-wrap{
  background: linear-gradient(to bottom,rgba(0,0,0,0.2), rgba(0,0,0,0.5)), url('about-page-background.png') no-repeat;
  background-size: cover;
}




.tab-content{
  display: none;
}

.tab-content.current{
  display: inherit;
}

hr {
  color: white;
}

.as--lessons-admin a.as--lesson-delete {
  margin-left: 10px;
}
.as--workshop-delete {
  float: right;
}

form.new_workshop {
  max-width: 350px;
}
.display-none {
  width: 1px;
  height: 1px;
  opacity: 0;
  visibility: hidden;
}

