.word-wrap {

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}

@font-face{
  font-family: 'Maax Bold';
  src: url(font-path('maax-bold.eot'));
  src: url(font-path('maax-bold.eot')) format('embedded-opentype'), url(font-path('maax-bold.woff')) format('woff');
}

@font-face{
  font-family: 'Maax';
  src: url(font-path('maax-regular.eot'));
  src: url(font-path('maax-regular.eot')) format('embedded-opentype'), url(font-path('maax-regular.woff')) format('woff');
}




